@import "globals";

#welcome{

background: url('../img/plants.jpeg');
	#welcomeText{
		background: rgba(100,100,100,.5);
		height:100%
	}
	h2, h3{
		text-align: center;
	}
	h2{
		margin:0;
		padding:0.83em;
	}

	#signupBtn{
		color:$white;
		margin: 0 auto;
		width: 80vw;
		text-align: center;
		background: $blue;
		border-radius: 10px;
		height: 40px;
		line-height: 40px;
		a{
			color:$white;
			text-decoration: none;
		}
	}
}
